<!DOCTYPE html>
<html>
	<head>
		<title>Client</title>
		{% load static %}
		<link href="{% static 'styles/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
	  	<link href="{% static 'styles/vendor/fontawesome-free/css/font-awesome.min.css' %}" rel="stylesheet">
	  	<link href="{% static 'styles/vendor/fontawesome-free/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'styles/css/sb-admin-2.min.css' %}" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<div class="col-md-8. ofsset-md-1 mt-5">
				<div class="jumbotron">
					<center><h1 class="">CLIENT</h1></center>
					<hr class="my-4">
					{% block content %}

					{% endblock content %}
				</div>
			</div>
		</div>
		
		<!-- Bootstrap core JavaScript-->
		<script src="{% static 'styles/vendor/jquery/jquery.min.js' %}" > </script>
		<script src="{% static 'styles/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"> </script>

		<!-- Core plugin JavaScript-->
		<script src="{% static 'styles/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

		<!-- Custom scripts for all pages-->
		<script src="{% static 'styles/js/sb-admin-2.min.js' %}"></script>
		<script src="{% static 'styles/js/zingchart.min.js' %}"></script>

		<!-- Page level plugins -->
		<script src="{% static 'styles/vendor/chart.js/Chart.min.js' %}"></script>

		<!-- Page level custom scripts -->
		<script src="{% static 'styles/js/demo/chart-area-demo.js' %}"></script>
		<script src="{% static 'styles/js/demo/chart-pie-demo.js' %}"></script>
		<script src="{% static 'styles/js/jquery.quicksearch.js' %}"></script>
	</body>
</html>
