{% extends "Template/baseAdmin.html" %}

{% block content %}
<h3 class=""><i class="fa fa-tag"></i> Ticket</h3>
<hr class="my-4">
<table class="table table-borderless">
	{% if prenom == "admin" %}
		<!-- <a href="{% url 'ticket_insert' %}" class="btn btn-outline-secondary">
			<i class="fa fa-plus"></i> Ajouter
		</a> -->
	{% endif %}
	{% for tickets in ticket_list %}

	{% if forloop.first %}
	<div class="table-responsive m-b-40">
		<table class="table table-borderless table-data3">
			<thead>
				<tr>
					<th>Numero Ticket</th>
					<th>Transaction</th>
					<th>Dab</th>
					<th>Carte</th>
					{% if prenom == "admin" %}
						<th>Action</th>
					{% endif %}
				</tr>
			</thead>
			{% endif %}
			<tbody>

				<tr>
					<td>{{ tickets.numero_Ticket }}</td>
					<td>{{ tickets.id_Transaction }}</td>
					<td>{{ tickets.id_Dab }}</td>
					<td>{{ tickets.id_Carte }}</td>
					{% if prenom == "admin" %}
						<td>
							<a href="{% url 'ticket_update' tickets.id %}" class="btn text-secondary px-0">
								<i class="far fa-edit fa-lg"></i>
							</a>
							<form action="{% url 'ticket_delete' tickets.id %}" method="post" class="d-inline">
								{% csrf_token %}
								<button type="submit" class="btn btn">
									<i class="fa fa-trash-alt text-danger"></i>
								</button>
							</form>
						</td>
					{% endif %}
				</tr>
				{% empty%}
				<p>tableau vide</p>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endblock content %}