	
{% extends "Template/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<form action="/Transaction/" method="post">
	<div class="row">
		<div class="col-lg-7">
			<div class="card borderRed">
				<div class="card-body">
					<div class="card-title">
						<img src="{% static 'styles/images/icon/CEM.jpg' %}" alt="CEM2" />
						<hr>
					</div>
					<br>
					<br>
					{% csrf_token %}

					{% for carte in cartes %}
						{% if carte.numero_Carte in numcarte_sess %}
							<input type="hidden" name="id_Carte" id="id_Carte" value="{{ carte.id }}">
						{% endif %}
					{% endfor %}
					<input type="hidden" name="type_Transaction" id="type_Transaction" value="Retrait">
					<input type="hidden" name="id_Dab" id="id_Dab" value="{{ idDab }}">
					<input type="hidden" name="typeautre" id="typeautre" value="typeautre">
					<div class="row">
						<div class="col-1">
							<div class="row">
								<div class="col-2">
									<div class="form-group">
										<button type="button" class="btn btn-outline-secondary redB">
                                            <i class="fa fa-chevron-right"></i>
                                        </button>	
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-2">
									<div class="form-group">
										<button type="button" class="btn btn-outline-secondary redB">
                                            <i class="fa fa-chevron-right"></i>
                                        </button>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-2">
									<div class="form-group">			
										<button type="button" class="btn btn-outline-secondary redB">
                                            <i class="fa fa-chevron-right"></i>
                                        </button>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-2">
									<div class="form-group">		
										<button type="button" class="btn btn-outline-secondary redB">
                                            <i class="fa fa-chevron-right"></i>
                                        </button>
									</div>
								</div>
							</div>
						</div>

						<div class="col-10">
							<div class="row">
								<div class="col-5">
									<center>
										<small>
											<div class="form-group">	
											Montant minimum est 5 000 Ar et le superieur est multiple de 5 000 Ar
											</div>
										</small>
									</center>
								</div>
								<div class="col-md-5 ml-auto">
									<div class="form-group">
										<input class="au-input au-input--full" type="text" value="0" id="montant_Transaction" name="montant_Transaction">
										<h5 class="text-center"><i class="fa fa-hand-o-up"></i>Entrez votre montant, puis validez</h5>
									</div>
								</div>
							</div>
							<div class="row" >
								<div class="col-md-7">
									<div class="form-group">		
										<center style="color: red;">
											<b id="clignot">
												{% if messages %}
													{% for mess in messages %}
														{{ mess }} !
													{% endfor %}
												{% endif %}
											</b>
										</center>
									</div>
								</div>
								<div class="col-md-5 ml-auto">
									<div class="form-group">	
										<center style="margin-top: 65px;" >	
											<p class="form-control cc-exp redP">Annuler</p>
										</center>
									</div>
								</div>
							</div>
						</div>

						<div class="col-1">
							<div class="row">
								<div class="col-2">
									<div class="form-group">	
										<button type="button" class="btn btn-outline-secondary redB">
                                            <i class="fa fa-chevron-left"></i>
                                        </button>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-2">
									<div class="form-group">
										<button type="button" class="btn btn-outline-secondary redB">
                                            <i class="fa fa-chevron-left"></i>
                                        </button>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-2">
									<div class="form-group">			
										<button type="button" class="btn btn-outline-secondary redB">
                                            <i class="fa fa-chevron-left"></i>
                                        </button>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-2">
									<div class="form-group">
									<a href="{% url 'page_retirer' %}">	
										<button type="button" class="btn btn-outline-secondary redB">
                                            <i class="fa fa-chevron-left"></i>
                                        </button>
                                    </a>	
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


		<div class="col-lg-5">
			<div class="card borderRed">
				<div class="card-body">
					<div class="card-title">
						<img src="{% static 'styles/images/icon/Autre.jpg' %}" alt="CEM2" />
					</div>
					<hr style="height: 15px;">

					<div class="row">
						<div class="col-4">
							<div class="form-group">
								<button id="recus" name="x_card_code" type="button" class="form-control btn btn-outline-secondary" value="Reçus">&nbsp;Reçus &nbsp; <i class="fa fa-files-o"></i> &nbsp; &nbsp; &nbsp;</button>
							</div>
						</div>

						<div class="col-4">
							<div class="form-group">
								<button id="billet" name="x_card_code" type="button" class="form-control btn btn-outline-secondary" value="Billets">&nbsp;Billets &nbsp; <i class="fa fa-usd"></i> &nbsp; &nbsp; &nbsp;</button>
							</div>
						</div>
						<div class="col-4">
							<div class="input-group">
								<button id="carte" name="x_card_code" type="button" class="form-control btn btn-outline-secondary" value="Carte">&nbsp;Carte &nbsp;<i class="fa fa-credit-card"></i>&nbsp; &nbsp; &nbsp;</button>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-2">
							<div class="form-group">
								<input id="un" name="cc-exp" type="button" class="form-control boutton btn btn-outline-secondary" value="1">
							</div>
						</div>

						<div class="col-2">
							<div class="form-group">	
								<input id="deux" name="cc-exp" type="button" class="form-control boutton btn btn-outline-secondary" value="2">
							</div>
						</div>
						<div class="col-2">	
							<div class="input-group">
								<input id="trois" name="x_card_code" type="button" class="form-control boutton btn btn-outline-secondary" value="3">
							</div>
						</div>
						<div class="col-4">
							<div class="input-group">
								<a href="{% url 'index' %}">
									<button type="button" id="annulation" class="form-control btn btn-outline-danger">
                                	Annulation <i class="fa fa-times"></i>
               						</button>
               					</a>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-2">
							<div class="form-group">	
								<input id="quatre" name="cc-exp" type="button" class="form-control boutton btn btn-outline-secondary" value="4">
							</div>
						</div>

						<div class="col-2">
							<div class="form-group">
								<input id="cinq" name="cc-exp" type="button" class="form-control boutton btn btn-outline-secondary" value="5">
							</div>
						</div>
						<div class="col-2">

							<div class="input-group">
								<input id="six" name="x_card_code" type="button" class="form-control boutton btn btn-outline-secondary" value="6">

							</div>
						</div>
						<div class="col-4">
							<div class="input-group">
								<button id="correction" name="correction" type="reset" class="form-control btn btn-outline-warning">Correction  <i class="fa fa-eraser"></i></button>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-2">
							<div class="form-group">

								<input id="sept" name="cc-exp" type="button" class="form-control boutton btn btn-outline-secondary" value="7">
								<span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true">

								</span>
							</div>
						</div>

						<div class="col-2">
							<div class="form-group">

								<input id="huit" name="cc-exp" type="button" class="form-control boutton btn btn-outline-secondary" value="8">
								<span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true">

								</span>
							</div>
						</div>
						<div class="col-2">

							<div class="input-group">
								<input id="neuf" name="x_card_code" type="button" class="form-control boutton btn btn-outline-secondary" value="9">

							</div>
						</div>
						<div class="col-4">
							<div class="input-group">
								<button id="validation" name="validation" type="submit" class="form-control btn btn-outline-success"> Validation <i class="fa fa-check"></i></button>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-2">
							<div class="form-group">		
								<input id="point" name="cc-exp" type="button" class="form-control boutton btn btn-outline-secondary" value=".">
							</div>
						</div>

						<div class="col-2">
							<div class="form-group">
								<input id="zero" name="cc-exp" type="button" class="form-control boutton btn btn-outline-secondary" value="0">
							</div>
						</div>
						<div class="col-2">
							<div class="input-group">
								<input id="zeros" name="x_card_code" type="button" class="form-control boutton btn btn-outline-secondary" value="00">
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</form>
	{% endblock content %}

	{% block javaScript %}
	<script type="text/javascript">
		$(document).ready(function(){
			$(".boutton").click(function(){
				var valeur = $(this).val();
				$("#montant_Transaction").val($("#montant_Transaction").val() + valeur);
			});
		});
		$(document).ready(function(){
			setInterval(function() {
				$('#clignot').fadeOut(100).fadeIn(100);
			},500);
		});
	</script>
	{% endblock javaScript %}
